<%
    i = 0
    name_heading = ["företags frågor", "jobb frågor", "service frågor", "Kundtjänst"]
    content_inquiry = ["Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ea fuga minima consequuntur aliquid error."]
    contact_name = ["Chandler Tribbiani", "Emily Quesada", "Sara Sofía Águila", "Kundtjänst"]
    mail_name = ["chandler_tribbiani", "emily_quesada", "sara_sofía_águila", "customer_service"]
    mail_subject = ["Företags%20frågor", "Jobb%20frågor", "Service%20frågor", "Kundtjänst"]
    phone_number = ["070-9476156", "070-9461298", "070-9403859", "031-671337"]
    while i < name_heading.length 
%>
    <div class="contactinquiriebox" name="<%=name_heading[i]%>">
        <%
            if name_heading[i] == "Kundtjänst"
        %>
            <p class="contactinquiryheading"><%=name_heading[i]%>:</p>
        <%    
            else 
        %>
            <p class="contactinquiryheading">För <%=name_heading[i]%>:</p>
        <%     
            end
        %>
        <p class="contactinquirycontent"><%=content_inquiry[0]%></p>
        <p class="contactinquiryinfo"><a class="contactspecialcolor">Kontakt: </a><%=contact_name[i]%><br><a class="contactspecialcolor">Mail: </a><a href="mailto:<%=mail_name[i]%>@lamanoitaliano.se?Subject=<%=mail_subject[i]%>"><%=mail_name[i]%>@lamanoitaliano.se</a><br><a class="contactspecialcolor">Mobil: </a><%=phone_number[i]%></p>
    </div>
<%
        i += 1
    end
%>