<%
    i = 0
    id_name = ["CT", "RR", "CV", "SSA", "EQ"]
    name = ["Chandler Tribbiani", "Rubén Ros", "Carlos Villanueva", "Sara Sofía Águila", "Emily Quesada"]
    position = ["Chef", "Första bagare", "Andra bagare", "Golvschef", "Huvudrekryterare"]
    yow = [14, 5, 5, 13, 7]
    quote = ["A leader is admired, a boss is feared.", "'Head baker' doesn't mean that you're the best baker, it simply means 'boss.'", "I never even dreamed of being a baker, and that's fundamental.", "I'd probably be famous now if I wasn't such a good waitress.", "Time spent on hiring, is time well spent."]
    while i < name.length
%>
<div class="staffitembox" id="staff<%=id_name[i]%>box">
    <div class="staffitemimagebox">
        <div class="staffitemimageholder" id="staffimage<%=id_name[i]%>"></div>
    </div>
    <div class="staffiteminfobox">
        <div class="staffiteminfoheadingbox">
            <h2 class="staffiteminfoheading"><%=name[i]%></h2>
        </div>
        <div class="staffiteminfonavbox">
            <div class="staffiteminfonavpositionbox">
                <p class="staffiteminfonavpar">Position: <a class="staffitemnavconf"><%=position[i]%></a></p>
            </div>
            <div class="staffiteminfonavyowbox">
                <p class="staffiteminfonavpar">Antal år hos oss: <a class="staffitemnavconf"><%=yow[i]%> år</a></p>
            </div>
        </div>
        <div class="staffiteminfoinfobox">
            <p class="staffiteminfoinfo">Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, consequatur quia quod maiores beatae molestiae obcaecati aperiam adipisci, consectetur magnam modi pariatur accusamus.</p>
        </div>
        <div class="staffiteminfoquotebox">
            <p class="staffiteminfoquote"><%=quote[i]%></p>
        </div>
    </div>
</div>


<%
        i += 1        
    end
%>